<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>Cyber Sport Players List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Cyber Sport Players List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Game</th>
        <th>Date of Birth</th>
        <th>Earnings</th>
    </tr>
    <tr>
        <td>Shaamyrza ?</td>
        <td>m0rtal</td>
        <td>Counter Strike: Global Offensive</td>
        <td>January 1, 2002</td>
        <td>$999,999</td>
    </tr>
    <tr>
        <td>Jane Smith</td>
        <td>JS</td>
        <td>Dota 2</td>
        <td>February 14, 1995</td>
        <td>$200,000</td>
    </tr>
    <tr>
        <td>Mike Johnson</td>
        <td>MJ</td>
        <td>League of Legends</td>
        <td>December 25, 1993</td>
        <td>$150,000</td>
    </tr>
</table>
</body>
</html>